body {
	margin: 0px;
	margin-top: 50px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	overflow-y:scroll;
}

.poem {
	font-family: 'Georgia', serif;	
}

.story {
  font-family: 'Georgia', serif;
  margin-block-end: 0.1em;	
}

p+p {
  text-indent: 1em;
}

p {
	margin: 0em;
	text-align: left;
}

.firstcharacter {
  float: left;
  font-family: 'Georgia';
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  text-indent: 0em;
}

header {
	margin-bottom:1.5em;	
}

h1 {
	font-size: 28px;
	color: #444;
	margin-top:1em;
	font-weight: normal;
}

h2 {
	font-size: 24px;
	color: #666;
	margin-top:0.4em;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	color: #999;
	margin-top:0.4em;
	font-weight: normal;
}

.itemtitle {
	font-weight: bold;
}

.itemtext {
	font-weight: normal;
}

footer {
	font-style: italic;	
	text-decoration: none;
	color: #aaa;
}

.section_break {
	width: 100%;
	text-align: center;
	font-size: 24px;
	margin-bottom: 1.5em;
}

.ll {
	padding-left: 1em;
	text-indent: -1em;
}

.ll10 {
	padding-left: 1m;
	text-indent: -1em;
	margin-left: 10em;
}

a {
	text-decoration: none;
}

td {
	padding: 1px 1px 1px 0px;
	vertical-align:top;
}

.container {
	line-height: 1.8;
	font-size: 16px; 
	margin: 20px auto;
	padding: 20px 20px;
	box-sizing: border-box;
	max-width: 600px;
	min-height: 500px;
}


.statscell {
	border: 1px solid gray;
	padding: 1px 1px 1px 0px;
	vertical-align:top;
	text-align: right;
}

.statstable {
	width: 300px;
	border-collapse: collapse;
}

.statstable, .statsth, .statstr {
	border: 1px solid gray;
}


th {
	text-align: left;
}

.book {
	font-style: normal;
	font-size: 14px;
}


.bookauthor {
	font-size: 14px;
   	color: #888;
}

.bookimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 60px;
	height: 300px;
}

.fellimage {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 40px;
 	margin-bottom: 60px;
	width: 100%;
}

.smallbook {
	float: left;
	width: 45px;
	height: 70px;
	padding-right: 30px;
}

.divlink {
  background-color: #747E8F;
  color: #fff;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border-radius: 4px;	
}

.mediumLinkButton {
  background-color: #747E8F;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border-radius: 4px;	
}

.smallLinkButton_active {
  background-color: #2B2D42;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border-radius: 4px;
}

.smallLinkButton_inactive {
  background-color: #eee;
  color: #aaa;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	border-radius: 4px;
}

.wrap {
	background-color: #747E8F;
	color: #fff;
	width: 70px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
 	border-radius: 4px;
}

.fadelink {
	color: #aaa;
	background-color: #eee;	
	color: #aaa;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	border-radius: 4px;	
}

.slicerrow {
    display: flex;
    padding: 0px;
}

.slicer {
  flex: 1;
}

.linkinfo {
	font-size: 14px;
}

.topheader {
	margin: 0px;
	background-color: #2B2D42;
	height: 50px;
	top: 0px;
        position: fixed;
        width: 100%;
}

.site_title {
	margin: 0px auto;
	padding-top: 5px;
	padding-left: 20px;
	box-sizing: border-box;
	width: 600px;
}

.site_label {
	color: #fff;
	font-size: 24px;
}

.subsite_label {
	font-weight: 100;
	padding-left:12px;
	color: #C5C5CB;
	font-size: 24px;
}

.quote_source {
	color: #000;
	font-weight: bold;
	width: 100%;
	text-align: right;
}

blockquote {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 20px;	
	margin-left: auto;
        margin-right: auto;
}

.quote {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 20px;	
}

.weak {
  text-decoration: none;
  color: #aaa;
}


.attribution {
  text-decoration: none;
  color: #aaa;
  margin-top: 2em;
}

li {
	margin-left:-40px;
	list-style-type: none;
	font-size: 12px;
	color: blue;
}



.video-container {
	position:relative;
	padding-bottom:56.25%;
	margin-top:20px;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .container {
      max-width: 100%;
    }
	
   .site_title {
	width: 100%;
    }
}
