body {
	margin: 0px;
	color: #444;
	font-family: 'Open Sans', serif;
}

a {
 	text-decoration: none;
 	color: #000;
}

td {
	padding: 0px 10px 0px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topheader {
	margin: 0px;
	background-color: #444;
	height: 50px;
}

.site_title {
	margin: 0px auto;
	width: 600px;
	padding-top: 5px;
	padding-left: 20px;
	box-sizing: border-box;
}

.site_label {
	font-family: 'IM Fell English';
	color: #fff;
	font-size: 32px;
}

.quote_source {
	color: #000;
	font-weight: bold;
}

.quote {
	padding-bottom: 20px;	
}

.container {
	line-height: 1.8;
	font-size: 14px;
	margin: 20px auto;
	padding: 0px 20px;
	box-sizing: border-box;
	max-width: 600px;
	min-height: 500px;
}

.weak {
  text-decoration: none;
  color: #888;
}

h1,h2,h3 {
	color: #444;
	line-height: 1.2;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	margin-top:20px;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
