---
layout: default
category: "fells"
---
{% assign climbed_fells = site.categories['fells'] | where: "climbed", "true" %}
<h2>Climbed {{ climbed_fells | size }} of 214 Wainwright fells</h2>
<div class="slicerrow">
<div class="smallLinkButton_active">Climbed<div class="linkinfo">{{ climbed_fells | size }}</div></div>
<div class="smallLinkButton_inactive">Unclimbed<div class="linkinfo">123</div></div>
<div class="smallLinkButton_inactive">All<div class="linkinfo">214</div></div>
</div>

{% for post in site.categories['fells'] : sort: "date" %}
  <a href="{{ post.url }}" title="{{ post.name }}">
  {% if post.climbed %}
    <div class="divlink">
    {{ post.name }}
    <div class="linkinfo">{{ post.date | date: "%-d %B %Y" }} | {{ post.height }}m | {{ post.number }}</div>
  {% else %}    
    <div class="fadelink">
    {{ post.name }}
    <div class="linkinfo">{{ post.height }}m | {{ post.number }}</div> 
  {% endif %}
    </div>
</a>
{% endfor %}

