---
layout: default
category: "fells"
---
{% assign climbed_fells = site.categories['fells'] | where: "climbed", "true" %}
<div class="slicerrow">
<a href="climbed.html"><div class="smallLinkButton_inactive">Climbed<div class="linkinfo">{{ climbed_fells | size }}</div></div></a>
<a href="unclimbed.html"><div class="smallLinkButton_inactive">Unclimbed<div class="linkinfo">123</div></div></a>
<a href="all.html"><div class="smallLinkButton_active">All<div class="linkinfo">214</div></div></a>
</div>

{% for post in site.categories['fells'] : sort: "name" %}
  <a href="{{ post.url }}" title="{{ post.name }}">
  {% if post.climbed %}
    <div class="divlink">
    {{ post.name }}
    <div class="linkinfo">{{ post.date | date: "%-d %B %Y" }} | {{ post.height }}m | {{ post.number }}</div>
  {% else %}    
    <div class="fadelink">
    {{ post.name }}
    <div class="linkinfo">{{ post.height }}m | {{ post.number }}</div> 
  {% endif %}
    </div>
</a>
{% endfor %}
