---
layout: default
---
{% assign sorted_posts = site.categories["book"] | sort: 'date' | reverse %}
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Date Read</th>
    <th>Reviewed</th>
  </tr>

  
  {% for post in sorted_posts %}
  <tr>
    <td class="book">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </td>
    {% capture content_size %}{{ post.content | size }}{% endcapture %}	     
    <td class="book">
      <span class="bookauthor">{{ post.author }}
    </td>
    <td class="book">
     {{ post.date | date_to_long_string }}
    </td>
    <td class="book">
        {% if content_size == "1" %}TO DO{% endif %}
     </td>
  </tr>
  {% endfor %}
</table>
