---
layout: default
---
<div>
{% assign postsByYear = site.categories.books | group_by:"year"  %}
{% assign iTop = page.top | times: 1 %}
{% for yr in postsByYear %}
  <h2>{{ yr.name }}</h2>
    {% for post in yr.items %}
      {% assign wordCount = {{ post.content | size }} %}
      <a href="{{ post.url }}" title="{{ post.title }}">{{ wordCount }}<img class="nonotes" width="100px" title="{{ post.title }} - {{ post.author }} - {{ wordCount }}" src="/images/books/{{ post.year}}/{{ post.image }}" ></a>
   {% endfor %}
{% endfor %}
</div>
