---
layout: default
---
{% if page.category == "books" %}
  {% assign postsByYear = site.categories["books"] | group_by_exp:"post", "post.date | date: '%Y'" | sort:"date" %}
{% else %}
  Films!
  {% assign postsByYear = site.categories["films"] | group_by_exp:"post", "post.date | date: '%Y'" | sort:"date" %}
{% endif %}
<div class="row">   
  {% for year in postsByYear %}	
  <a href="/{{ page.category }}/{{ year.name  }}.html" title="{{ year.name }}">
    <div class="wrap">
      {{ year.name }}
    </div>
  </a>
 {% endfor %}
  <a href="/{{ page.category }}/all.html" title="All">
    <div class="wrap">
      All
    </div>
  </a>
  <a href="/{{ page.category }}/list.html" title="List">
    <div class="wrap">
      List
    </div>
  </a>
  <a href="/{{ page.category }}/stats.html" title="Stats">
    <div class="wrap">
      Stats
    </div>
  </a>
  <a href="/{{ page.category }}/chart.html" title="Chart">
    <div class="wrap">
      Chart
    </div>
  </a>
</div>
