---
layout: default
---
<div class="row"> 
{% assign postsByYear = site.categories["book"] | group_by_exp:"post", "post.date | date: '%Y'" | sort:"date" %}
  <a href="/books/all.html" title="All">
    <div class="wrap">
      All
    </div>
  </a>
  <a href="/books/last3.html" title="Last3">
    <div class="wrap">
      2017+
    </div>
  </a>
</div>
  <div class="row"> 
  {% for year in postsByYear %}	
  <a href="/books/{{ year.name  }}.html" title="{{ year.name }}">
    <div class="wrap">
      {{ year.name }}
    </div>
  </a>
{% endfor %}		    		
</div>
