<!DOCTYPE html>
<html lang="en">
  <head>
    <title>brachistochrone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
  </head>
  <body>
    <div class="topheader">
      <div class="site_title">
        <a class="site_label" href="/index.html">brachistochrone</a>
        <a class="subsite_label" href="/{{ page.category }}">{{ page.category }}</a>
      </div>
    </div>    
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
