<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta content="width=device-width, initial-scale=1" name="viewport">
			<title>{{ page.title }}</title>
			<a href="/index.html">furzepig</a>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/base.css">
			</head>
		<body>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:john@furzepig.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
