---
layout: default
---
<h1>{{ page.name }}</h1>
{% if page.climbed %}
<h2>{{ page.date | date: "%-d %B %Y"}}</h2>
{% endif %}
<h3>{{ page.height }}m</h3>
{% if page.image %}
<img class="fellimage" src="/images/fells/{{ page.image }}" />
{% else %}
<img class="fellimage" src="/images/fells/{{ page.name }}.jpg" /> 
{% endif %}
<div class="post">
  {{ content }}
</div>
{% if page.viewranger %}
<iframe src="https://my.viewranger.com/track/widget/"{{ page.viewranger }}"?locale=en&amp;m=miles&amp;v=2" width="100%" 
        height="600" marginwidth="0" frameborder="0" scrolling="no"></iframe>
{% endif %}
