---
layout: default
category: "gamebooks"
---

{% assign series_List = site.categories['gamebooks'] | where: "type", page.type % | group_by: "series" %}

{% for series in series_List %} 
  <div class="smallLinkButton_active">
    {{ series.name }}
  </div> 
   
 {% assign books = series.items | sort: 'index' %}
 {% for book in books %}
    {% if book.owned == "true" %}
      <div class="divlink">
    {% else %}
      <div class="fadelink">
    {% endif %}
      {{ book.index }}. {{ book.title }} .{{ book.owned }}
  </div>
  {% endfor %}
{% endfor %}
