---
layout: default
category: "gamebooks"
---

{% assign series_List = site.categories['gamebooks'] | where: "type", page.type % | group_by: page.series %}
{% assign series_books = site.categories['gamebooks'] | where: "type", page.type %}



{% for series in series_List %}
  
  <div class="divlink">
        <div class="linkinfo">{{ series.name }}</div> 
  </div>
{% endfor %}

{% for post in series_books %}

  <a href="{{ post.url }}" title="{{ post.title }}">
    
    {% if post.year == "unread" %}
      <div class="fadelink">
    {% else %}
      <div class="divlink">
    {% endif %}
      <div class="linkinfo">{{ post.series }}</div> 
      {{ post.index }}. {{ post.title }}
    </div>
  </a>
 
{% endfor %}
